* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f3f5;
  overflow: hidden;
  cursor: none;
  width: 100vw;
  height: 100vh;
  background-color: #c5d0d6;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.trail {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.trail-point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #005c56;
  transition: opacity 0.5s ease-out;
  transform: translate(-3px, -3px);
}

.name-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.name-text p {
  font-size: clamp(2rem, 8vw, 8rem);
  font-weight: 900;
  text-align: center;
  color: #000000;
  white-space: nowrap;
}